/******************************************************************************************************************
Royal Marsden Manual - Home Stylesheet - February 2008
Developed by Matthew Hill - http://www.friskdesign.com
For Semantico - http://www.semantico.co.uk/
******************************************************************************************************************/
/******************************************************************************************************************
AUTO EXPANDING FLOATS FOR COMPLIANT BROWSERS
******************************************************************************************************************/
.letterlist:after,
.grouplist:after,
.grouplist div:after
{
	content: ".";
	height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
/******************************************************************************************************************
GLOBAL OVERRIDES
******************************************************************************************************************/
#content {
	float:left;
	width:569px;
	padding:0 40px 0 0;
	min-height:500px;
	margin:40px;
	border-right:1px solid #E4E4E4;
}
#sidehome {
	float:left;
	min-height:500px;
	width:230px;
	margin:40px 0;
}

/******************************************************************************************************************
CONTENT
******************************************************************************************************************/
#content h2 {
	margin:20px 0;
}
#content img.mainimage {
	border-bottom:1px solid #E4E4E4;
}

/******************************************************************************************************************
SIDEBAR
******************************************************************************************************************/
#sidehome {
	font-size:0.85em;
}
#sidehome h2 {
	font-size:1.8em;
}
#sidehome img {
	float:right;
	margin:0 0 10px 10px;
	border:1px solid #E4E4E4;
}




